@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap");
.nav {
  background-color: #FFF;
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 2em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
}
.nav__iconContainer {
  display: flex;
  gap: 2em;
  margin-left: auto;
}
.nav__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.logo {
  display: flex;
  gap: 1em;
  align-items: center;
}
.logo__square {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
}
.logo__square__light {
  background-color: #FFF;
}
.logo__span {
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.logo__text {
  color: #111;
  font-family: "Archivo", sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
.logo__p--regular {
  font-weight: 400;
}
.logo__p--bold {
  font-weight: 700;
}

.heroSection {
  text-align: left;
  padding: 8em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  z-index: 0;
  position: relative;
  background-image: url("../images/home.jpg");
  background-position: center center;
  background-size: cover;
}
.heroSection::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.heroSection__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #FFF;
}
.heroSection__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #FFF;
}

.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.calendarSection {
  background-color: #222;
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.calendarSection__inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.calendarSection__label {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.calendarSection__input {
  background: transparent;
  width: 100%;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #777;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  padding-bottom: 0.5em;
}

.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 1em 0 1em;
  background-image: url("../images/discover.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  z-index: 0;
}
.aboutSection::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.753);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.aboutSection__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.aboutSection__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.aboutSection__h3 {
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
  z-index: 2;
}
.aboutSection__h3--light {
  color: #FFF;
}
.aboutSection__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.aboutSection__flex {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.aboutSection__container {
  max-width: 27rem;
  height: 30rem;
}
.aboutSection__container--text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  text-align: center;
}
.aboutSection__container--dark {
  background-color: #222;
}
.aboutSection__icon {
  z-index: 2;
}
.aboutSection__shadow {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
}
.aboutSection__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.roomSection {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 0 0 0;
  text-align: center;
}
.roomSection__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.roomSection__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.roomSection__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: -1.2px;
}
.roomSection__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.roomSection__p--highlight {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.roomSection__span {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.roomSection__swiperTop {
  z-index: 3;
  width: 70%;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.roomSection__swiperBottom {
  margin-top: -5.5rem;
  z-index: 3;
  width: 70%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 2em;
}

.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.videoSection {
  background-color: #222;
  padding: 8em 1em 3em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 85rem;
}
.videoSection__h2 {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.videoSection__h1 {
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
}
.videoSection__p {
  color: #C2C2C2;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.videoSection__video {
  width: 100%;
  height: 50%;
}

.facilitiesSection {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 1em 0 1em;
  text-align: center;
}
.facilitiesSection__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.facilitiesSection__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}

.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.swiperCore {
  margin-top: -5.5em;
  width: 100%;
}
.swiperCore__wrapper {
  width: 100%;
  height: 30rem;
}
.swiperCore__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.swiperCore__button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  --swiper-navigation-size: 1.2rem;
}
.swiperCore__button--prev {
  background-color: #FFF;
}
.swiperCore__button--next {
  background-color: #BEAD8E;
  color: #FFF;
}

.swiperPagination {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  width: 100%;
}
.swiperPagination__wrapper {
  width: 100%;
  max-width: 40rem;
  height: 37rem;
  height: 30rem;
}
.swiperPagination__slide {
  display: flex;
  padding-top: 8em;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  text-align: left;
  position: relative;
}
.swiperPagination__span {
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperPagination__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
}
.swiperPagination__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.swiperPagination__bullets {
  --swiper-pagination-color:#BEAD8E;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=style.css.map */