@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap");
.header__p {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 1em 10em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 8rem;
    background-color: #222;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
  }
  .header__p {
    display: block;
  }
}
.nav {
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  font-family: "Archivo", sans-serif;
  color: #111;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  z-index: 10;
}
.nav__icon {
  width: 1.6rem;
}
.nav__container--flex {
  display: flex;
  gap: 0.3em;
}
.nav__container--square {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.25);
}
.nav__p--big {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__container--flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
.nav__p--dark {
  font-weight: 700;
}
.nav__p--light {
  font-weight: 400;
}
.nav__ul--row {
  display: none;
}
.nav__ul--column {
  position: absolute;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 1em;
  padding: 2em 1em;
  background-color: #FFF;
  z-index: 10;
}
.nav__li {
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.nav__container--icons {
  display: flex;
  gap: 2em;
  margin-left: auto;
}

@media only screen and (min-width: 1000px) {
  .nav {
    width: 100%;
  }
  .nav__icon {
    display: none;
  }
  .nav__ul--row {
    display: flex;
    gap: 1em;
    list-style: none;
  }
}
.section {
  text-align: left;
  padding: 8em 1em;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  z-index: 0;
  position: relative;
  overflow-x: hidden;
}
.section__h2 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #FFF;
}
.section__h2--medium {
  color: #BEAD8E;
}
.section__h2--dark {
  color: #686868;
}
.section__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #FFF;
}
.section__h1--dark {
  color: #111;
}
.section__h1--clamp {
  max-width: 45rem;
}
.section__h3 {
  color: #FFF;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
  z-index: 2;
}
.section__h3--dark {
  color: #111;
}
.section__h4 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 136.4%;
}
.section__p {
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.section__p--light {
  color: #FFF;
}
.section__p--medium {
  max-width: 48rem;
  color: #777;
}
.section__p--dark {
  color: #686868;
}
.section__p--clamp {
  width: 20rem;
}
.section__span {
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.3rem;
}
.section__span--small {
  font-size: 1.3rem;
}
.section__span--dark {
  color: #BEAD8E;
}
.section__span--light {
  color: #FFF;
}
.section__button--dark {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: #BEAD8E;
  border: none;
}
.section__button--light {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
  margin-bottom: 5em;
}
.section__button--changeOrder {
  order: 6;
}
.section__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}
.section__input {
  background: transparent;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #777;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  padding-bottom: 0.5em;
}
.section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__img--small {
  width: 12rem;
  height: 12rem;
}
.section__img--positionMove {
  position: absolute;
  right: -3rem;
  top: 0;
}
.section__flex {
  display: flex;
  align-items: center;
  gap: 2em;
}
.section__flex--noGap {
  gap: 0;
}
.section__flex--row {
  flex-direction: row;
}
.section__flex--column {
  flex-direction: column;
}
.section__flex--columnRow {
  flex-direction: column;
}
.section__flex--columnRowReverse {
  flex-direction: column;
}
.section__flex--wrap {
  height: 100%;
  flex-wrap: wrap;
}
.section__flex--left {
  align-items: flex-start;
}
.section__flex--spaceBetween {
  justify-content: space-between;
}
.section__container {
  height: 30rem;
  min-width: 27rem;
}
.section__container--img {
  overflow: hidden;
}
.section__container--text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  text-align: center;
}
.section__container--light {
  background-color: #FFF;
}
.section__container--dark {
  background-color: #222;
}
.section__icon {
  z-index: 2;
}
.section__icon--shadow {
  max-width: 35%;
}
.section__icon--shadow {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
}
.section__frame {
  min-height: 30rem;
}
.section__swiperContainer {
  width: 100%;
  position: relative;
}
.section__swiperBtns {
  margin-left: auto;
  display: flex;
  gap: 1em;
  order: 2;
}

.section--bgAlt {
  background-image: url("../images/discover.jpg");
}
.section--bgAlt::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.753);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section--noBg {
  padding-top: 5em;
  background: #FFF;
}
.section--noBg::before {
  background-color: transparent;
}

.section--bg {
  background-image: url("../images/home.jpg");
  background-position: center center;
  background-size: cover;
}
.section--bg::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section--centered {
  align-items: center;
  text-align: center;
}

.section--fullWidth {
  text-align: center;
}

.section--twoColors {
  height: 85rem;
  background: #222;
}
.section--twoColors::before {
  background-color: transparent;
}

.section--dark {
  background: #222;
}

.section--paddingTop {
  padding-top: 10em;
}

@media only screen and (min-width: 1000px) {
  .about1 {
    grid-area: about1;
    align-self: flex-start;
    margin-top: 2em;
  }
  .about2 {
    grid-area: about2;
    align-self: flex-end;
    margin-bottom: 2em;
  }
  .about3 {
    grid-area: about3;
    align-self: flex-start;
    margin-bottom: 2em;
  }
  .about4 {
    grid-area: about4;
    align-self: flex-end;
  }
  .section {
    padding: 12em 20%;
  }
  .section__input {
    width: 30rem;
  }
  .section__p--clamp {
    width: 20rem;
  }
  .section__flex--columnRow {
    flex-direction: row;
  }
  .section__flex--columnRowReverse {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "about2 about1" "about3 about4";
    gap: 1em;
  }
  .section__frame {
    width: 50%;
    min-height: 46rem;
    order: 6;
  }
  .section__img--positionMove {
    position: absolute;
    left: 0;
    top: 0;
  }
  .section__button--changeOrder {
    order: 5;
  }
  .section__swiperBtns {
    order: -1;
  }
  .section--small {
    padding: 5em 0 5em 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #222;
    gap: 2em;
  }
  .section--bgAlt {
    -webkit-box-shadow: inset 18px 3px 33px 150px #FFFFFF;
    box-shadow: inset 18px 3px 33px 150px #ffffff;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
  }
  .section--centered {
    padding: 5em 20%;
  }
  .section--fullWidth {
    padding: 5em 0;
  }
  .section--twoColors {
    background: linear-gradient(to right, #222 0%, #222 70%, #BEAD8E 70%);
    max-height: 70rem;
  }
}
.swiperRoom {
  height: 50rem;
  position: relative;
}
.swiperRoom__topDiv {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-height: 4rem;
  top: -20px;
  right: 50%;
  transform: translate(50%);
  padding: 0.5em;
  background-color: #FFF;
  z-index: 10;
}
.swiperRoom__bottomDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  bottom: -20%;
  right: 50%;
  transform: translate(50%);
  padding: 1.5em;
  background-color: #FFF;
  z-index: 10;
}
.swiperRoom__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiperRoom__button--next {
  background-color: #BEAD8E;
  color: #FFF;
  --swiper-navigation-size: 1.6rem;
  padding: 2em;
}
.swiperRoom__button--prev {
  background-color: #FFF;
  color: #111;
  --swiper-navigation-size: 1.6rem;
  padding: 2em;
}

@media only screen and (min-width: 1000px) {
  .swiperRoom__topDiv {
    width: 25%;
  }
  .swiperRoom__bottomDiv {
    width: 25%;
  }
}
.swiperCore {
  width: 100%;
  position: relative;
}
.swiperCore__span {
  color: rgba(34, 34, 34, 0.0392156863);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperCore__slide {
  min-height: 37rem;
  padding: 8em 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 2em;
}
.swiperCore__img {
  width: 7rem;
  transition: 0.3s;
}
.swiperCore__img:hover {
  scale: 1.5;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: #BEAD8E;
}

@media only screen and (min-width: 1000px) {
  .swiperRoom__topDiv {
    width: 25%;
  }
  .swiperRoom__bottomDiv {
    width: 25%;
  }
}
.swiperFood {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiperFood__wrapper {
  width: 100%;
}
.swiperFood__slide {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
.swiperFood__text {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 2em;
  flex-shrink: 2;
}
.swiperFood__h3, .swiperFood__p {
  color: #111;
}
.swiperFood__slide:hover {
  background-color: #222;
  color: #FFF;
}
.swiperFood__icon {
  display: none;
}
.swiperFood__slide:hover .swiperFood__h3, .swiperFood__slide:hover .swiperFood__p {
  color: #FFF;
}
.swiperFood__img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  flex-shrink: 1;
}
.swiperFood__button--next {
  background-color: #BEAD8E;
  color: #FFF;
  --swiper-navigation-size: 1.6rem;
  padding: 2em;
  z-index: 10;
}
.swiperFood__button--prev {
  background-color: #F8F8F8;
  color: #111;
  --swiper-navigation-size: 1.6rem;
  padding: 2em;
}

@media only screen and (min-width: 1000px) {
  .swiperFood__button--next {
    --swiper-navigation-top-offset: 20%;
  }
  .swiperFood__button--prev {
    --swiper-navigation-top-offset: 20%;
  }
  .swiperFood__icon {
    display: block;
  }
}
.swiperFoodPhotos {
  width: 100%;
  height: 27rem;
}
.swiperFoodPhotos__wrapper {
  width: 100%;
}
.swiperFoodPhotos__slide {
  width: 100%;
  height: 100%;
}
.swiperFoodPhotos__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 1000px) {
  .swiperFoodPhotos__slide {
    width: 37rem;
    height: 37rem;
  }
}
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=style.css.map */