@import './variables.scss';

@mixin button{
    border: none;
    width: 22rem;
    height: 6rem;
    color: $font__color__light;
    font-family: $font__family__main;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.availability{
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color:$bg__color__darker ;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-family: $font__family__extra;
        font-size: 1.6rem;
        color: $font__color__light;
    }

    &__input{
        min-width: 100%; 
        border: none;
        padding-bottom: .5em;
        border-bottom: 2px solid $btn__color__dark;
        background-color: $bg__color__darker;
        color: $font__color__dark;
        font-size: 1.4rem;
        border-radius: 0;
        
    }

    &__button{
        @include button();
        background-color: $btn__color__dark;
    }

}

@media only screen and (min-width:1000px) {
    
    .availability{ 

        flex-direction: row;
        padding-left:  19%;
        
        &__container{
            width: 33rem;
        }
    }
}