@import "./variables.scss";


.footer{
    background-image: url("../images/footerBg.png");
    padding: 1em;

    &__clamp{

    }
    &__container--square{
        width: 8rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $btn__color--dark;
        box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.15);
    }
    &__p{
        color: $font__color--text-darkest;
        font-family: $font__family--main;
    }

    &__p--big{
        font-size: 4rem;
        font-weight: 700;
        line-height: 4.3rem;
        text-transform: uppercase;
    }

    &__p--medium{
        font-size: 2.6rem;
        line-height: normal;
        letter-spacing: 2.6px;
        text-transform: uppercase
    }

    &__p--light{
        color: $font__color--text-light;
    }

    &__p--bold{
        font-weight: 700;
    }
    
    &__p--regular{
        font-weight: 400;
    }

    &__p--clamp{
        max-width: 27rem;
    }

    &__flex{
        display: flex;
        gap: 2em;
    }

    &__flex--noGap{
        gap: 0;
    }

    &__flex--column{
        flex-direction: column;
    }

    &__flex--columnRow{
        flex-direction: column;
    }

    &__flex--left{
        align-items: flex-start;
    }

    &__flex--justifyCenter{
        justify-content: center;
    }

    &__flex--justifyBetween{
        justify-content: space-between;
    }

    &__flex--alignCenter{
        align-items: center;
    }

    &__ul{
        list-style-type: none;
    }
}



@media only screen and (min-width:1000px){
    .footer{
        
        &__clamp{
            padding: 12em 20%;
        }
        &__flex--columnRow{
            flex-direction: row;
        }
    
    }
}

