@import "./variables.scss";

.header{
     position: relative;
    &__dropMenu{
        width: 100%;
        position: absolute;
        background-color: $bg__color--light;
        padding: 2em;
        z-index: 5;
        display: none;
        
    }

    &__ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &__li{
        color: $font__color--text-darkest;
        font-family: $font__family--main;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}