@import './variables.scss';

@mixin button{
    border: none;
    width: 22rem;
    height: 6rem;
    color: $font__color__light;
    font-family: $font__family__main;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.home{
     
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-position: center center;
    padding: 18em 2em 10em 2em;
    position: relative;
    z-index: 0;

    &__h3{
        color: $font__color__light;
        font-family: $font__family__main;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        max-width: 23rem;
    }

    &__h1{
        color: $font__color__light;
        font-family: $font__family__sec;
        font-size: 5.6rem;
        font-weight: 400;
        line-height: 6rem;
        letter-spacing: -1.2px;
        max-width: 35rem
    }

    &__button{
        @include button();
        background-color: $btn__color__dark;
    }

    &__button--light{
        @include button();
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.33);
    }

    &::before{
        content: "";
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) to control the darkness */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }   

    &__container{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

@media only screen and (min-width:1000px) {
    .home{
        padding: 10em 19%;
        &__container{
            flex-direction: row;
        }
    }
}