@import "./button.scss";
@import "./variables.scss";

.section{
    text-align: left;
    padding: 8em 1em;
    color: $font__color--text-light;
    font-family: $font__family--main;
    z-index: 0;
    position: relative;
    overflow-x: hidden;


    &__h2{
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.8rem; 
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: $font__color--text-light;
    }

    &__h2--medium{
        color: $font__color--highlight;
    }
    &__h2--dark{
        color: $font__color--text-dark;
    }

    &__h1{
        font-family: $font__family--sec;
        font-size: 5.6rem;
        font-weight: 400;
        line-height: 6rem;
        letter-spacing: -1.2px;
        color: $font__color--text-light;
    }

    &__h1--dark{
        color: $font__color--text-darkest;
    }

    &__h1--clamp{
        max-width: 45rem;
    }

    &__h3{
        color:$font__color--text-light;
        text-align: center;
        font-family: $font__family--sec;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: -0.9px;
        z-index: 2;
    }

    &__h3--dark{
        color: $font__color--text-darkest;
    }

    &__h4{
        
        text-align: center;
        font-family: $font__family--extra;
        font-size: 6rem;
        font-weight: 700;
        line-height: 136.4%; 
    }


    &__p{
        font-family: $font__family--main;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
    }
    
    &__p--light{
        color: $font__color--text-light;
    }

    &__p--medium{
        max-width: 48rem;
        color: $font__color--text-medium;
    }
    
    &__p--dark{
        color: $font__color--text-dark;
    }
    
    &__p--clamp{
        width: 20rem;
    }
    
    &__span{
        text-align: center;
        font-family: $font__family--main;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4.3rem;
    }

    &__span--small{
        font-size: 1.3rem;
    }

    &__span--dark{
        color: $font__color--highlight;
    }

    &__span--light{
        color: $font__color--text-light;
    }

    &__button--dark{
        @include button();
        background-color: $btn__color--dark;
        border: none;
    }

    &__button--light{
        @include button();
        background-color: transparent;
        margin-bottom: 5em;
    }

    &__button--changeOrder{
        order: 6;
    }


    &__label{
        font-family: $font__family--extra;
        font-size: 1.6rem;
        font-weight: 700;
    }

    &__input{
        background: transparent;
        font-size: 1.4rem;
        font-family: $font__family--extra;
        color: $font__color--text-medium;
        border: none;
        border-bottom: 2px solid $btn__color--dark;
        padding-bottom: .5em;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__img--small{
        width: 12rem;
        height: 12rem;
    }

    &__img--positionMove{
        position: absolute;
        right: -3rem;
        top: 0;
    }

    &__flex{
        display: flex;
        align-items: center;
        gap: 2em;
    }

    &__flex--noGap{
        gap: 0;
    }

    &__flex--row{
        flex-direction: row;
    }

    &__flex--column{
        flex-direction: column;
    }

    &__flex--columnRow{
        flex-direction: column;
    }
    
    &__flex--columnRowReverse{
        flex-direction: column;
    }

    &__flex--wrap{
        height: 100%;
        flex-wrap: wrap;
    }
    &__flex--left{
        align-items: flex-start;
    }

    &__flex--spaceBetween{
        justify-content: space-between;
    }

    &__container{
        height: 30rem;
        min-width: 27rem;
    }
    
    &__container--img{
        overflow: hidden;
    }

    &__container--text{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        text-align: center;
    }

    &__container--light{
        background-color: $bg__color--light;
    }
    
    &__container--dark{
        background-color: $bg__color--dark;
    }

    &__icon{
        z-index: 2;
    }
    &__icon--shadow{
        max-width: 35%;
    }

    &__icon--shadow{
        position: absolute;
        top: 20%;
        left: 50%;
        z-index: 1;
    }

    &__frame{
        min-height: 30rem;
    }

    &__swiperContainer{
        
        width: 100%;
        position: relative;
    }

    &__swiperBtns{
        margin-left: auto;
        display: flex;
        gap: 1em;
        order: 2;
    }
    
}



.section--bgAlt{
    background-image: url("../images/discover.jpg");

    &::before {
        content: "";
        background-color: rgba(255, 255, 255, 0.753);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; 
    }
}


.section--noBg{
    padding-top: 5em;
    background: $bg__color--light;
    &::before {
        background-color: transparent;     
    }
}

.section--bg{
    background-image: url("../images/home.jpg");
    background-position: center center;
    background-size: cover;
    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; 
    }
}

.section--centered{
    align-items: center;
    text-align: center;
    
}

.section--fullWidth{
    text-align: center;
}

.section--twoColors{
    height: 85rem;
    background: $bg__color--dark;
    &::before {
        background-color: transparent;     
    }
}

.section--dark{
    background: $bg__color--dark;
}

.section--paddingTop{
    padding-top:10em ;
}

@media only screen and (min-width:1000px){
    .about1{
        grid-area: about1;
        align-self: flex-start;
        margin-top: 2em;
        
    }
    .about2{
        grid-area: about2;
        align-self: flex-end;
        margin-bottom: 2em;
        
    }
    .about3{
        grid-area: about3;
        align-self: flex-start ;
        margin-bottom: 2em;
    }
    .about4{
        grid-area: about4;
        align-self: flex-end;
    }


    .section{
        padding: 12em 20%;

        &__input{
            width: 30rem;
        }

        &__p--clamp{
            width: 20rem;
        }
        &__flex--columnRow{
            flex-direction: row ;
        }
        &__flex--columnRowReverse{
            flex-direction: row-reverse;
            justify-content: center;
        }

        
        &__grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            'about2 about1'
            'about3 about4';
            gap: 1em;
        }
        
     
        &__frame{
            width: 50%;
            min-height: 46rem;
            order: 6;
        }

        &__img--positionMove{
            position: absolute;
            left: 0;
            top: 0;
        }
        &__button--changeOrder{
            order: 5;
        }

        &__swiperBtns{
           order: -1;
        }

        
       
    }

    .section--small{
        padding: 5em 0 5em 20%; 
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $bg__color--dark;
        gap: 2em;
    }

    .section--bgAlt{
        -webkit-box-shadow: inset 18px 3px 33px 150px #FFFFFF; 
        box-shadow: inset 18px 3px 33px 150px #ffffff;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: bottom 0 right 0;
    }


    .section--centered{
        padding: 5em 20%;
    }

    .section--fullWidth{
        padding: 5em 0;
    }
    
    .section--twoColors{
        background: linear-gradient(to right, $bg__color--dark 0%,$bg__color--dark 70%, $btn__color--dark 70%);
        max-height: 70rem;
    }
    
}


