@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import "./nav.scss";
@import "./logo.scss";
@import "./heroSection.scss";
@import "./calendarSection.scss";
@import "./aboutSection.scss";
@import "./roomSection.scss";
@import "./videoSection.scss";
@import "./facilitiesSection.scss";
@import "./button.scss";
@import "./swiperCore.scss";
@import "./swiperPagination.scss";


html{
    font-size: 10px;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body { 
    min-width: 320px ;
}
            