@import './variables.scss';

.swiperRoom{

  height: 50rem;
  position: relative;

  &__topDiv{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 4rem;
    top: -20px;
    right: 50%;
    transform: translate(50%);
    padding: .5em;
    background-color: $bg__color--light;
    z-index: 10;
  }

  &__bottomDiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    bottom: -20%;
    right: 50%;
    transform: translate(50%);
    padding: 1.5em;
    background-color: $bg__color--light;
    z-index: 10;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button--next{
    background-color: $btn__color--dark;
    color: $font__color--text-light;
    --swiper-navigation-size: 1.6rem;
    padding: 2em;
  }
  &__button--prev{
    background-color: $btn__color--light;
    color: $font__color--text-darkest;
    --swiper-navigation-size: 1.6rem;
    padding: 2em;
  }
}

@media only screen and (min-width:1000px){
  
  .swiperRoom{
    &__topDiv{
      width: 25%;
    }
    &__bottomDiv{
      width: 25%;
    }
  }
}