
$bg__color--dark:#222;
$bg__color--light:#FFF;

$btn__color--dark: #BEAD8E;

$font__color--light:#FFF;
$font__color--medium:#686868;
$__font__color--darkest:#111;

$font__family--main: 'Archivo', sans-serif;
$font__family--sec: 'Old Standard TT', serif;
$font__family--extra: 'Roboto', sans-serif;