@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap");
.header {
  position: relative;
}
.header__dropMenu {
  width: 100%;
  position: absolute;
  background-color: #FFF;
  padding: 2em;
  z-index: 5;
  display: none;
}
.header__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.header__li {
  color: #111;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__a {
  text-decoration: none;
}
.header__a:visited {
  color: #111;
}

.nav {
  background-color: #FFF;
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 2em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
}
.nav__iconContainer {
  display: flex;
  gap: 2em;
  margin-left: auto;
}
.nav__icon {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}
.nav__a {
  cursor: pointer;
  color: #111;
  text-decoration: none;
}
.nav__a:visited {
  color: #111;
}

.logo {
  display: flex;
  gap: 1em;
  align-items: center;
}
.logo__square {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
}
.logo__square--light {
  background-color: #FFF;
}
.logo__square--highlight {
  background-color: #BEAD8E;
}
.logo__span {
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.logo__text {
  color: #111;
  font-family: "Archivo", sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
.logo__p--regular {
  font-weight: 400;
}
.logo__p--bold {
  font-weight: 700;
}

.heroSection {
  text-align: left;
  padding: 8em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  z-index: 0;
  position: relative;
  background-image: url("../images/home.jpg");
  background-position: center center;
  background-size: cover;
}
.heroSection::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.heroSection__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #FFF;
}
.heroSection__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #FFF;
}
.heroSection__links {
  width: 15rem;
  background-color: #FFF;
  padding: 2em;
  margin-left: auto;
  position: relative;
  bottom: -8rem;
}
.heroSection__p {
  text-align: center;
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}
.heroSection__a {
  cursor: pointer;
  color: #111;
  text-decoration: none;
}
.heroSection__a:visited {
  color: #111;
}

.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.calendarSection {
  background-color: #222;
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.calendarSection__inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.calendarSection__label {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.calendarSection__input {
  background: transparent;
  width: 100%;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #777;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  padding-bottom: 0.5em;
}

.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 1em 0 1em;
  background-image: url("../images/discover.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  z-index: 0;
}
.aboutSection::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.753);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.aboutSection__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.aboutSection__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.aboutSection__h3 {
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
  z-index: 2;
}
.aboutSection__h3--light {
  color: #FFF;
}
.aboutSection__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.aboutSection__flex {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.aboutSection__container {
  max-width: 27rem;
  height: 30rem;
}
.aboutSection__container--text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  text-align: center;
}
.aboutSection__container--dark {
  background-color: #222;
}
.aboutSection__icon {
  z-index: 2;
}
.aboutSection__shadow {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
}
.aboutSection__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.roomSection {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 0 0 0;
  text-align: center;
}
.roomSection__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.roomSection__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.roomSection__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: -1.2px;
}
.roomSection__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.roomSection__p--highlight {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.roomSection__span {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.roomSection__swiperTop {
  z-index: 3;
  width: 70%;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.roomSection__swiperBottom {
  margin-top: -5.5rem;
  z-index: 3;
  width: 70%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 2em;
}

.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.videoSection {
  background-color: #222;
  padding: 8em 1em 3em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 85rem;
}
.videoSection__h2 {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.videoSection__h1 {
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
}
.videoSection__p {
  color: #C2C2C2;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.videoSection__video {
  width: 100%;
  height: 50%;
}

.facilitiesSection {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 1em 0 1em;
  text-align: center;
}
.facilitiesSection__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.facilitiesSection__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}

.sectionMenu {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 5em 1em 5em 1em;
  overflow-x: hidden;
}
.sectionMenu__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.sectionMenu__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.sectionMenu__img {
  width: 11rem;
  height: 11rem;
  margin-left: calc(100% - 6rem);
}
.sectionMenu__controls {
  display: flex;
  gap: 3em;
  justify-content: flex-end;
}

.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.swiperCore {
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  width: 100%;
}
.swiperCore__wrapper {
  width: 100%;
  max-width: 40rem;
  height: 37rem;
  height: 30rem;
}
.swiperCore__slide {
  display: flex;
  padding-top: 8em;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  text-align: left;
  position: relative;
}
.swiperCore__span {
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperCore__img {
  width: 100%;
}
.swiperCore__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
}
.swiperCore__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.swiperCore__bullets {
  --swiper-pagination-color:#BEAD8E;
}

.swiperPagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}
.swiperPagination__img--big {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.swiperPagination__wrapper {
  height: 37rem;
  width: 100%;
}
.swiperPagination__slide {
  display: flex;
  padding-top: 8em;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  text-align: left;
  position: relative;
}
.swiperPagination__span {
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperPagination__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
}
.swiperPagination__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.swiperPagination__bullets, .swiperPagination__bullets--photo {
  --swiper-pagination-color:#BEAD8E;
  align-self: center;
}

.swiperColumn {
  align-self: center;
  max-width: 37rem;
}
.swiperColumn__wrapper {
  width: 100%;
}
.swiperColumn__img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  object-position: center center;
}
.swiperColumn__slide {
  overflow: hidden;
  height: 12rem;
  display: flex;
  gap: 2em;
  align-items: center;
}
.swiperColumn__slide:hover {
  background-color: #222;
}
.swiperColumn__text {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.swiperColumn__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.72px;
}
.swiperColumn__p {
  color: #111;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.72px;
}
.swiperColumn__button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  --swiper-navigation-size: 1.2rem;
}
.swiperColumn__button--next {
  background-color: #BEAD8E;
  color: #FFF;
}
.swiperColumn__button--prev {
  background-color: #FFF;
}

.swiperFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}
.swiperFlex__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.swiperFlex__wrapper {
  height: 37rem;
  width: 100%;
}
.swiperFlex__slide {
  width: 100%;
}
.swiperFlex__span {
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperFlex__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
}
.swiperFlex__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.swiperFlex__bullets {
  --swiper-pagination-color:#BEAD8E;
  text-align: center;
}

.sectionDetails {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 8em 1em 3em 1em;
  text-align: center;
}
.sectionDetails__span {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 136.4%;
}
.sectionDetails__span--small {
  font-size: 1.6rem;
}
.sectionDetails__p {
  margin-top: -3rem;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 136.4%;
}

.footer__inner {
  background-image: url("../images/footerBg.png");
  padding: 8em 1em 0em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer__section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}
.footer__p--bold {
  color: #686868;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}
.footer__socials {
  display: flex;
  gap: 1em;
}
.footer__icon {
  font-size: 2.4rem;
  color: #777;
}
.footer__icon:hover {
  color: #BEAD8E;
}
.footer__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.footer__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30rem;
}
.footer__li {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.8rem;
}
.footer__card {
  display: flex;
  align-items: center;
  gap: 2em;
}
.footer__img {
  width: 4rem;
  height: 4rem;
}
.footer__span {
  display: block;
}
.footer__span--dark {
  color: #686868;
  font-family: "Old Standard TT", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.footer__span--light {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  background: #F8F8F8;
}

.sectionHotelDescription {
  display: flex;
  flex-direction: column;
  gap: 3em;
  z-index: 0;
  position: relative;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=style.css.map */